[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"

[packages]
modin = {extras = ["dask"],version = "*"}
numpy = "*"
matplotlib = "*"
dask = "*"
seaborn = "*"
ipykernel = "*"
tqdm = "*"
visdom = "*"
dash = "*"

[requires]
python_version = "3.8"
